@model Skole_Testsite.Models.ContactpageRenderModel
@{
    Layout = "Layout.cshtml";
}
<div class="ContactHead">
<h2>Indtast venligst dine kontaktoplysninger her:</h2>
</div>  
<div class ="ContactPage">
<p>@Model.Navn</p>
   @Html.TextBox("TextboxName")
<p>@Model.Adresse</p>
    <input type="text" name="Adresse" size="40" maxlength="35">
<p>@Model.Postnr</p> 
    <input type="text" name="Postnr" size="40" maxlength="35">
<p>@Model.Fødselsdag</p>
    <input type="text" name="Fødselsdag" size="40" maxlength="35">
<p>@Model.Hårfarve</p>
    <input type="text" name="Hårfave" size="40" maxlength="35"> 

<br>
<br>
    <button type="button" id="SubmitBtn" name="Test1">Submit</button> <img class="Marioimage" src="/Content/Img/Mario.gif"/>
</div>
  